<div class="info-box-blurb">
  <h1>Update Profile</h1>
  Enter your information, set your preferences, or change your password.
</div>
<div class="info-box-content">
  <%= render 'form' %>
</div>

<!-- ensures any floating divs are cleared -->
<div style="clear:both">&nbsp;</div>

<%= link_to 'Home', root_path %>
