<div class="info-box-blurb">
  <h1>Register</h1>
  <p>When you sign up, you'll get a few Satoshi's worth of Bitcoin to make transactions with!</p>
  <p>
    Providing a phone number allows you to use Twilio to make transactions over the phone, and is required.
  </p>
</div>
<div class="info-box-content">
  <%= render 'form' %>
</div>
<div style="clear: both">&nbsp;</div>

<%= link_to 'Back', users_path %>
